<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <link rel="stylesheet" href="">
            {{fullmap.js}}
    </head>
    <body>
        <hr>
      	<div align="center"><img width=80% height=auto src="static/images/top1.png"></div>
        <div align="center"><img width=80% height=auto src="static/images/top2.png"></div>
        <hr>
        <h1>Site Map</h1>
        <h2>You can get dynamic coupons for Restaurants!!!</h2>
        <h3>Click a face icon. (Orange=Congestion, Green=Vacant)</h3>
        {{ fullmap.html }}
    </body>
</html>
