<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <link rel="stylesheet" href="">
    </head>
    <body>
        <hr>
	<div align="center"><img width=900 height=100 src="static/images/top1.png"></div>
        <hr>
<!--        <h1>Coupon Here </h1> -->
    <div align="center"><img width=400 height=300 src="static/images/sushi_header.png"></div>
        <div align="center"><img width=400 height=100 src="static/images/sushi_coupon.png"></div>


    </body>
</html>
